# Core Framework
fastapi
uvicorn[standard]

# Data Handling
pydantic
pandas
python-multipart
tqdm

# DB and ORM
sqlalchemy
email-validator

# Env and Utility
python-dotenv
more-itertools

# LangChain and LLMs
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma

# OpenAI
openai

# For parsing CSV uploads
aiofiles

# Required for LangChain Chroma backend
chromadb
